/* variables here */
body {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif; }

a {
  color: #4ea3d7;
  text-decoration: none;
  -webkit-transition: color .8s;
  transition: color .8s;
  background-image: -webkit-linear-gradient(top, transparent 50%, #a1ceea 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #a1ceea 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #FCFCFC, 0.15rem 0 #FCFCFC, -0.1rem 0 #FCFCFC, -0.15rem 0 #FCFCFC; }
  a:hover, a:active, a:focus {
    color: #0B348B;
    text-decoration: none; }
